<!-- about.html -->

{% extends 'homepage.html' %}

{% block title %}
    About - {{ block.super }}
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <html>
        <body>
            <style>
                body {
    margin:11 px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2d2c2c; 
    align-content: left;
}

h1 { color: black;
                     }
                     h2 {
                        color: black;
                        text-decoration: bold;

                     }
                     

            </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <h1>ABOUT US</h1>
    <h2>table of contents</h2>
    <p><a href="how to sell phones on phonex"></a> to sell on phonex</p>
    <p><a href="how to buy on phonex"> to buy on phonex</p>
    <p><a href="safety"></a>safety</a></p>

    <h3 id="how to sell on phonex">how to sell on phonex</h3>
    <p>1. Search for the item.</p><br>
        <p>Find what you need using search panel and filters. We have many adverts, choose exactly what you are looking for.</p><br>
        <p>2. Contact a seller.</p><br>
       <p> You may use chat on phonex or call them via phone. Discuss all the details, negotiate about the price.</p><br>
       <p>  3. Take your item or order a delivery.</p><br>
       <p> We check our sellers carefully, but it’s always better to check twice, right? Meet a seller in public place and be sure to pay only after collecting your item.</p>
       <p>  4. Leave your feedback about the seller.</p>
       <p> Feel free to tell us about your purchase. Your feedback will be published online on the seller’s page and will be very helpful for other buyers. Let’s build a safe and professional business community together!</p>
<h4 id="how to buy on phonex">how to buy on phonex</h4>
<p> Pay attention to the details.</p><br>
<p>Make good photos of your goods, write clear and detailed description.</p><br>
<p>2. Answer quickly.</p><br>
<p>Don’t make your buyer wait for your message for days. Be online or get SMS notifications on your messages.</p>
<h2 id="safety">SAFETY</h2>
<p><em>1. General</em></p>
<p>We are highly focused on the security and can solve any issues in short-terms. That’s why we ask you, kindly, to leave a review after purchasing. If you run into any problems with a seller, you can report us and Jiji Team will check this seller as soon as possible.</p>
<p><em>>2. Personal safety tips.</em></p>
<p>- Do not pay in advance, even for the delivery</p>
<p>- Try to meet at a safe, public location</p>
<p>- Check the item BEFORE you buy it</p>
<p>- Pay only after collecting the item</p>
<p><em>3. Secure payments.</em></p>
 <footer>phonex provides Premium Services for those who want to sell and earn more. We accept both online and offline payments for these services. We guarantee secure and reliable payments on phonex.</footer>
</body>
</html>
{% endblock %}